

<div class="container">
    <div class= "header">
        <div class= "headshot">
            <%= image_tag("realEstateAgent.JPG") %>
        </div>
        <div class= "header-text">
            <h1>Luis Halvorssen</h1>
            <h5>United States /
                Venezuela /
                Norway
            </h5>

            <p>My name is Luis Halvorssen. One of a kind, actually. This unique spelling of Halvorssen comes from Norway and I proudly represent my name in everything I do; and I do a lot. From playing goalkeeper in soccer, to tutoring young children, to even coding this very website. This drive that I have to do more stems mostly from my experiences growing up as a member of a big family. But also from my experience at my high school, Belen Jesuit Preparatory School, where we are always encouraged to strive for Magis. According to the Ignatian principles, Magis is a Latin word that means "more" or "greater". </p>
        
            <ul>
                <li><i class="icon ion-ios-home"></i>Miami, FL</li>

                <li><i class="icon ion-ios-call"></i>786-473-4023</li>
                
                <li><i class="icon ion-ios-mail"></i>LuisHalvorssen@gmail.com</li>
            </ul>
    
        </div>
    </div>
</div>

<h1 class="title">about</h1>
<div class="container">
    <div class= "about">
    
        <div class="about-text">
            <h1 class="heading"> this is me</h1>
            <h4 class="subheading">I believe anybody's characteristics can be compartmentalized into 3 categories: </br> the physical, the mental, and the spiritual.</h4>
        </div>


        <div class="about-preview">
           
            <div class="about-card">
                <h5 class="card-title">physical</h5>
                <ul>
                    <li>Male</li>
                    <li>Born in Miami, FL</li>
                    <li>Athlete</li>
                    <li>6 ft.</li>
                    <li>Deep-voice</li>
                </ul>
            </div>

            <div class="about-card">
                <h5 class="card-title">mental</h5>
                <ul>
                    <li>1400 PSAT</li>
                    <li>5.25 GPA</li>
                    <li>Bilingual</li>
                    <li>Comuter Science Club</li>
                    <li>DECA</li>
                </ul>
            </div>

            <div class="about-card">
                <h5 class="card-title">spiritual</h5>
                <ul>
                    <li>Practicing Catholic</li>
                    <li>1 of 5 Children</li>
                    <li>Jesuit School</li>
                    <li>Community Service</li>
                    <li>Open Minded</li>
                </ul>
            </div>
        </div>
        <%=link_to "about", home_about_path, class: "button about-button" %> 
    </div>
</div>

<h1 class="title">academics</h1>
<div class="container">
    <div class= "academics">
        
        <div class="academics-text">
            <h4 class="subheading">An investment in <span>knowledge</span> pays the best interest</h4>
            <h6 class="author">-Benjamin Franklin</h6>
        </div>

        <div class="academics-preview">
            <div class="bubbles">
                <div class="animated fadeInLeftBig stakb">                    
                    <%= image_tag("stakb.jpg") %>
                    <h4>St. Agnes Academy</h4>
                    <h5>Primary School</h5>
                    <h6>Key Biscayne, FL</h6>
                </div>

                <div class=" animated fadeInUpBig achievements">
                    <h2>achievements</h2>
                    <ul>    
                        <li>Presidential Honor Roll</li>
                        <li>Academic Achievemnt Award</li>
                        <li>3 Sport Student-Athlete</li>
                        <li>National Honor Society</li>
                        <li>5 AP Classes</li>
                    </ul>
                </div>

                <div class="animated fadeInLeftBig belen">                    
                    <%= image_tag("belen.png") %>
                    <h4>Belen Jesuit </br>Preparatory School</h4>
                    <h5>Secondary School</h5>
                    <h6>Miami, FL</h6>
                </div>
            </div>
        </div>
        <%=link_to "academics", home_academics_path, class: "button about-button" %> 
    </div>
</div>

<h1 class="title">work</h1>
<div class="container">
    <div class= "work">
    
        <div class="work-text">
            <h4 class="people">Elon Musk, Benjamin Franklin, and Naval Ravikant  </h4>
            <h6 class="people-text">Three people that inspire me </h6>
        </div>

        <div class="work-preview">
            <div class="bubbles">

                    <div class="animated fadeInLeftBig code">                    
                    <i class="icon ion-md-code"></i> 
                    <h2>Code</h2>
                    <h5>3 months working at Miami Dev Shop</h5>
                    <h6>Learned languages such as Java, Ruby, HTML, CSS, and Javascript and built multiple apps and websites (such as this one)</h6>
                </div>

                <div class="animated fadeInLeftBig tutor">                    
                    <i class="icon ion-md-book"></i>
                    <h2>Tutor</h2>
                    <h5>5 years of tutoring experience</h5>
                    <h6>Helping students in Kindergarten through 10th grade with specific subjects and their homework in both English and Spanish </h6>
                </div>
                
                <div class="animated fadeInLeftBig DJ">                    
                    <i class="icon ion-md-headset"></i>
                    <h2>DJ</h2>
                    <h5>Over 40 events in the past 3 years</h5>
                    <h6>Meeting leaders in the industry such as Metro Boomin and Timbaland while also building my brand and clientele</h6>
                </div>
                
            </div>
        </div>
        <%=link_to "work", home_work_path, class: "button about-button" %> 
    </div>
</div>

<h1 class="title">interests</h1>
<div class="container">
    <div class= "interests">
    
        <div class="interests-text">
            <h4 class="heading">free time</h4>
            <h6 class="header-sub">When I have the chance, </br> I like to divulge myself in theses activities</h6>
        </div>

        <div class="interests-preview">
            <div class="bubbles">
                <div class="interests-bubble sports">                    
                        <div id="slideshow">
                            <div class="slide-wrapper">
                                <div class="slide"><%= image_tag("sports.1.jpg") %></div>
                                <div class="slide"><%= image_tag("sports.2.jpg") %></div>
                                <div class="slide"><%= image_tag("sports.3.jpg") %></div>
                            </div>
                        </div>
                    <h4>Athletics</h4>
                    <h5>Soccer, Volleyball, Golf</h5>
                </div>

                <div class="interests-bubble coding">                    
                    <div id="slideshow">
                        <div class="slide-wrapper">
                            <div class="slide"><%= image_tag("coding.1.jpg") %></div>
                            <div class="slide"><%= image_tag("coding.2.jpg") %></div>
                            <div class="slide"><%= image_tag("coding.3.jpg") %></div>
                        </div>
                    </div>                    
                    <h4>Coding</h4>
                    <h5>Ruby on Rails, JavaScript, React.JS</h5>
                </div>

                <div class="interests-bubble music">                    
                    <div id="slideshow">
                        <div class="slide-wrapper">
                            <div class="slide"><%= image_tag("music.1.jpg") %></div>
                            <div class="slide"><%= image_tag("music.2.jpg") %></div>
                            <div class="slide"><%= image_tag("music.3.jpg") %></div>
                        </div>
                    </div>  
                    <h4>Music</h4>
                    <h5>Soulection, Bad Bunny, The Police</h5>
                </div>

                <div class="interests-bubble books">                    
                    <div id="slideshow">
                        <div class="slide-wrapper">
                            <div class="slide"><%= image_tag("books.1.jpg") %></div>
                            <div class="slide"><%= image_tag("books.2.jpg") %></div>
                            <div class="slide"><%= image_tag("books.3.jpg") %></div>
                        </div>
                    </div>  
                    <h4>Books</h4>
                    <h5>Hemingway, Fitzgerald, Green</h5>
                </div>

                <div class="interests-bubble travel">                    
                    <div id="slideshow">
                        <div class="slide-wrapper">
                            <div class="slide"><%= image_tag("travel.1.jpg") %></div>
                            <div class="slide"><%= image_tag("travel.2.jpg") %></div>
                            <div class="slide"><%= image_tag("travel.3.jpg") %></div>
                        </div>
                    </div>  
                    <h4>Travel</h4>
                    <h5>Venezuela, Switzerland, New York</h5>
                </div>

            </div>
        </div>
        <%=link_to "interests", home_interests_path, class: "button about-button" %> 
    </div>
</div>


<h1 class="title">contact</h1>
<div class="container">
    <div class= "contact">
    
        <div class="contact-text">
            <h4 class="heading">contact me</h4>
            <h6 class="header-sub">Whether you're just saying hi </br>or inquring for business</h6>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <%= form_tag(send_email_path, method: "post", :class=>"form-horizontal") do %>
                    <fieldset>
                    

                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Name</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Your E-mail</label>
                            <div class="col-md-9">
                                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                            </div>
                        </div>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">Your message</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                    <% end %>
                    
                </div>
            </div>
        </div>
    </div>
</div>


    
