<div class="footer">
    <div class="headerfooter">
        <div>
            <h6>Luis Halvorssen</h6>
        </div>

        <div>
            <p>&copy Copyright 2019</p>
            <p>All Rights Reserved</p>
        </div>
    </div>

    <div class="footerfooter">

        <ul class="footerlogo">
            <li><%= link_to image_tag("/image.png"), root_path %></li>
        </ul>

        <div class="navbar-center">
            <ul>
                <li><%= link_to  "ABOUT", home_about_path %></li>
                <li><%= link_to  "ACADEMICS", home_academics_path %></li>
                <li><%= link_to  "WORK", home_work_path %></li>
                <li><%= link_to  "INTERESTS", home_interests_path %></li>
                <li><%= link_to  "CONTACT", home_contact_path %></li>
            </ul>
        </div>

        <ul class="medialinks">
            <li><a href="https://www.instagram.com/luisi.halv/"target="_blank"><i class="icon ion-logo-instagram"></i></a></li>

            <li><a href="https://www.snapchat.com/add/luisihalv"target="_blank"><i class="icon ion-logo-snapchat"></i></a></li>
            
            <li><a href="https://twitter.com/LuisiHalv"target="_blank"><i class="icon ion-logo-twitter"></i></a></li>

            <li><a href="https://www.linkedin.com/in/luis-halvorssen-322909154"target="_blank"><i class="icon ion-logo-linkedin"></i></a></li>

        </ul>
    </div>
</div>
