<nav>
    <div class="container navbar">
        <div class="navbar-left">
            <ul>
                <li><%= link_to image_tag("/image.png"), root_path %></li>
            </ul>
        </div>

        <div class="navbar-center">
            <ul>
                <li><%= link_to  "ABOUT", "/" %></li>
                <li><%= link_to  "ACADEMICS", "/" %></li>
                <li><%= link_to  "WORK", "/" %></li>
                <li><%= link_to  "INTERESTS", "/" %></li>
                <li><%= link_to  "CONTACT", "contact" %></li>
            </ul>
        </div>

        <div class="navbar-right">
            <ul>
                <li><%= link_to  "Instagram", "https://www.instagram.com/lhalvorssen/" %></li>
                <li><%= link_to  "Snapchat", "https://www.snapchat.com/add/luisihalv" %></li>
                <li><%= link_to  "Twitter", "https://twitter.com/LuisiHalv" %></li>
            </ul>
        </div>
    </div>
</nav>